# Cognito Auth Configuration
VITE_COGNITO_AUTHORITY=""           # The Cognito identity provider URL with user pool ID
VITE_COGNITO_CLIENT_ID=""           # The client ID for your application in Cognito
VITE_COGNITO_REDIRECT_URI=""        # URL where users are redirected after successful authentication
VITE_COGNITO_LOGOUT_URI=""          # URL where users are redirected after logout
VITE_COGNITO_DOMAIN=""              # Your Cognito user pool domain URL

# API Configuration
VITE_BACK_URL=""                    # Base URL for your backend API endpoints